.background-info {
    top: 0;
    bottom: 0;
    height:25px;
    text-align: right;
    border-radius:5px;
    width: 280px;
    height:340px;
    /*transition:0.3s;*/
    padding:10px;
    border: 4px solid transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(54, 54, 54, 0.3);
}

.background-news {
    top: 0;
    bottom: 0;
    height:25px;
    width:70px;
    background: #EDD23B;
    color: #173268; 
    border-left: 2px;
    text-align: center;
    float: left;
    border-radius:5px;
}

.category {
    margin-top:15px
}

.background-new {
    top: 0;
    bottom: 0;
    height:25px;
    width:70px;
    background: #e04176;
    color: #FFF; 
    border-left: 2px;
    text-align: center;
    float: left;
    border-radius:5px;
    position: absolute;
    margin-top:13px;
    margin-left:13px;
}

.news-date {
    margin:10px;
    font-size:15px;
}

.title{
    margin-top: 15px;
	margin-left:3px;
	margin-right:3px;
	padding-left:3px;
	padding-right:3px;
    font-size:15px;
    text-align: center;
}

a {
	text-decoration: none;
    transition: 0.3s;
}

a:hover{
	color: #EDD23B;
}

.background-info:hover{
    border: solid 4px #7bc8bb;
    animation: color-change 3s linear infinite;
}
@keyframes color-change {
    0%,100%{
        border-color:#7bc8bb;
    }

    25%{
        border-color:#ee8595;
    }

    50%{
        border-color:#244a9e;
    }

    75%{
        border-color:#d0cb9d;
    }
}
