.background-info {
    top: 0;
    bottom: 0;
    height:25px;
    text-align: right;
    border-radius:5px;
    width: 280px;
    height:340px;
    transition:0.3s;
    padding:10px;
    border: 4px solid rgba(54, 54, 54, 0.02);
    backdrop-filter: blur(5px);
    background-color: rgba(54, 54, 54, 0.3);
}

.background-news {
    top: 0;
    bottom: 0;
    height:25px;
    width:70px;
    background: #EDD23B;
    color: #173268; 
    border-left: 2px;
    text-align: center;
    float: left;
    border-radius:5px;
}

.category {
    margin-top:15px
}

.background-new {
    top: 0;
    bottom: 0;
    height:25px;
    width:70px;
    background: #e04176;
    color: #FFF; 
    border-left: 2px;
    text-align: center;
    float: left;
    border-radius:5px;
    position: absolute;
    margin-top:13px;
    margin-left:13px;
}

.news-date {
    margin:10px;
    font-size:15px;
}

.title{
    margin-top: 15px;
	margin-left:3px;
	margin-right:3px;
	padding-left:3px;
	padding-right:3px;
    font-size:15px;
    text-align: center;
}

a {
	text-decoration: none;
    transition: 0.3s;
}

a:hover{
	color: #EDD23B;
}

.background-info:hover{
    border: solid 4px #ff1493;
    animation: color-change 3s linear infinite;
}
@keyframes color-change {
    0%,100%{
        border-color:#ff1493;
    }

    25%{
        border-color:#8b4513;
    }

    50%{
        border-color:#0091EA;
    }

    75%{
        border-color:#9400d3;
    }
}

.slide-arrow {
    background-color: #333;
    bottom: 0;
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0;
}
.prev-arrow {
border-bottom: 10px solid #333;
border-left: 0;
border-right: 10px solid #fff;
border-top: 10px solid #333;
left: -25px;
}
.next-arrow {
border-bottom: 10px solid #333;
border-left: 10px solid #fff;
border-right: 0;
border-top: 10px solid #333;
right: -25px;
}